<script type="text/javascript" src="http://bringit.kr/faye/client.js"></script>
<script type="text/javscript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/vendors/jquery.slimscroll.min.js"></script>
<script>

var client = new Faye.Client('http://bringit.kr/faye');

function bring_timer(name){
      
      //매 1초마다 브링타이머 실행해서 타이머가 흐르게한다
      setTimeout('bring_timer("'+name+'");','1000');
      
      var left_times = [];
      left_times = document.getElementsByName(name);  
      
      //모든 타이머 적용에 대한 반복문
      for(i=0;i<left_times.length;i++){
        left_time = left_times[i].innerHTML.split(":");
        left_minute = Number(left_time[0]);
        left_second = Number(left_time[1]);
        //둘다 00일시 그대로 고정, 아니면 타이머가 흐르게함
        if((left_second+left_minute)===0){
        }
        else{
          if(left_second === 0){
            left_second = 59;
            left_minute--;
          }
          else{
            left_second--;
          };
        };
        
        // 1분일때, 30초일때, 10초 미만일 때 Beep 를 울린다
        if (left_minute ===1){
          if (left_second ===0){
          }
        }  
        else if(left_minute===0){
          if(left_second===30){
          }
          else if(left_second<10){
          };
        };

        // 숫자가 한자리수일때, 앞에 0을 붙인다
        if (left_minute < 10){
         left_minute = '0'+left_minute 
        };
        if (left_second < 10){
         left_second = '0'+left_second 
        };
        
        // 1초 흐른 결과를 다시 해당 타이머에 반영한다
        document.getElementsByName(name)[i].innerHTML = left_minute +':'+left_second;
        
      };
       
       
      
      return true;
}





$(document).ready(function() {
    bring_timer('time_after');
    $('#fullpage').fullpage({
        controlArrows: false,
        normalScrollElements: '.slide_whole'
      
      });
    receipt_order();
});

function select_order(order_id){
    $(order_id).toggleClass("order_active");
    window.navigator.vibrate(100);
  };


function order_intoline(){
  //해당라인으로 들어가는걸 모아
  var intoline_list = [];
  $("#order_beforeline>.order_receipt.order_active").each( function(i,e) {
    intoline_list.push($(e).attr('id'));
  });
  $.ajax({
    url:"/provider/inline_list",
    method: "POST",
    data: {intoline_list :intoline_list},
    success:function(){
              $("#order_beforeline>.order_receipt.order_active").appendTo("#order_afterline").toggleClass("order_active");
              window.navigator.vibrate(100);
              },
  });
  
  //옮긴다
  
};

function order_complete(){
  // 완료한 order의 list를 서버로 push
  
  // push 할 list를 active된 order_receipt에서 받아옴
  var complete_list = [];
  $("#order_afterline>.order_receipt.order_active").each( function(i,e) {
    complete_list.push($(e).attr('id'));
  });
  
  $.ajax({
    url:"/provider/complete_list",
    method: "POST",
    data: {complete_list :complete_list},
    success:$("#order_afterline>.order_receipt.order_active").remove(),
    
  });
};


</script>
<%= render partial: "provider_top" %>
<div id="fullpage">
    <div class="section">
      <div class="slide">
        <div class="slide_whole" id="order_beforeline">
          
          <% @beforeline_order.each do |order| %>
          <% logger.info order %>
          <div onclick="select_order('#order_<%=order[:order_number]%>')" id=order_<%=order[:order_number]%> class="order_receipt">
            <div class="order_number">
              <span><%=order[:order_number]%></span>
            </div>
            <div class="order_info">
              <% order[:menu].each do |menu_one| %>
              <div class="infos">
                <p>
                  <span><%=menu_one[:menu]%></span>
                  <strong><%=menu_one[:size]%></strong><br>
                  [옵션]<strong><%=menu_one[:option]%> // <%=menu_one[:custom]%></strong>
                </p>
              </div>
              <div class=info_count>
                <span><%=menu_one[:count]%></span>
              </div>
              <% end %>
            </div> 
            <div class=info_footer>
                브링시간<span name=time_after id="order_<%= order[:order_number]%>_timer"><%= (order[:pickup_time]/60).ceil %>:<%= (order[:pickup_time]%60).ceil %></span>후
            </div>
          </div>
          <% end %>
        <div class=slide_footer>
          <div class=footer_divider>
            <button onclick=order_intoline() class=order_button>제작탭으로</button>
          </div>
          <div class=footer_divider>
            <button onclick=order_complete() class=order_button>알람보내기</button>
          </div>
          
        </div>  
      
        
          
      </div>
      
      
    </div>
      
    <div class="slide">
      <div class="slide_whole" id="order_afterline">
      
          <% @inline_order.each do |order| %>
          <% logger.info order %>
          <div onclick="select_order('#order_<%=order[:order_number]%>')" id=order_<%=order[:order_number]%> class="order_receipt">
            <div class="order_number">
              <span><%=order[:order_number]%></span>
            </div>
            <div class="order_info">
              <% order[:menu].each do |menu_one| %>
              <div class="infos">
                <p>
                  <span><%=menu_one[:menu]%></span>
                  <strong><%=menu_one[:size]%></strong><br>
                  [옵션]<strong><%=menu_one[:option]%></strong>
                </p>
              </div>
              <div class=info_count>
                <span><%=menu_one[:count]%></span>
              </div>
              <% end %>
            </div> 
            <div class=info_footer>
                브링시간<span name=time_after id="order_<%= order[:order_number]%>_timer"><%= (order[:pickup_time]/60).ceil %>:<%= (order[:pickup_time]%60).ceil %></span>후
            </div>
          </div>
          <% end %>
        
      
      </div>
    </div>
    
    
  </div>
</div>

<script>

function second_to_minute(second){
  var total_second = Math.floor(second);
  var left_minute = Math.floor(second/60);
  var left_second = total_second - left_minute*60
  var left_time = left_minute+":"+left_second
  
  return left_time
};

function minute_to_time(time_input){
 var input_time = time_input;
 var mixed_time = input_time.split(":");
 
 return (parseInt(mixed_time[0])*60+parseInt(mixed_time[1])); 
}

function receipt_order(){
  
  var receipt_object = $("#order_beforeline span[name=time_after]")
  var order_remaintime = [];
  
  for(i=0;i<receipt_object.length;i++){
    order_remaintime[i] = [];
    order_remaintime[i][0] = receipt_object[i].id.split("_timer").shift();
    order_remaintime[i][1] = minute_to_time(receipt_object[i].innerText);
  };
  
  order_remaintime = order_remaintime.sort(function(a,b){return a[1]-b[1];});
  
  console.log(order_remaintime);
  
  for(i=0;i<receipt_object.length;i++){
    $("#"+order_remaintime[i][0]).css("order",i)
    
    
  };
  
};


var subscription = client.subscribe('/foo', function(message) {
  // handle message
  var pick_left = second_to_minute(message.pickup_time);
 
  
  $("#order_beforeline").append("<div onclick=\"select_order('#order_"+message.order_number+"')\" id=order_"+message.order_number+" class=\"order_receipt\"><div class=\"order_number\"><span>"+message.order_number+"</span></div><div class=\"order_info\"></div> <div class=info_footer>브링시간<span name=time_after id=order_"+message.order_number+"_timer>"+pick_left+"</span>후</div></div>");
   
  message.menu.forEach(function(entry){
    console.log(entry);
    $("#order_"+message.order_number+" > div.order_info").append("<div class=\"infos\"><p><span>"+entry.menu+"</span><strong> "+entry.size+"</strong><br>[옵션]<strong>"+entry.option+entry.custom+"</strong></p></div><div class=info_count><span>"+entry.count+"</span></div>");
  });

//   $("#order_"+message.order_number+".order_info").append("");
// });
  receipt_order();

});
  
</script>
