<!DOCTYPE html>
<html>
<head>
  <title>Bringit</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="og:url" property="og:url" content="<%= yield_meta_tag(:ogurl,'http://bringit.kr')%>" />
  <meta name="og:title" property="og:title" content="<%=yield_meta_tag(:ogtitle,'브링잇 Bringit')%>"/>
  <meta name="og:type" property="og:type" content="website">
  <meta name="og:image" property="og:image" content="<%=yield_meta_tag(:ogimage,'default_image')%>" />
  <meta name="og:description" property="og:description" content="<%=yield_meta_tag(:ogdesc,'가장 쉬운 모닝커피, 브링잇')%>">
  <meta name="description" content="<%=yield_meta_tag(:desc,'가장 쉬운 모닝커피, 브링잇')%>">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
